@layer utilities{

  .flex-center{
    @apply flex justify-center items-center;
  };

  .page-layout{
    @apply flex flex-1 flex-col px-4 w-full mx-auto
  };

  .responsive-container {
    @apply max-w-[375px] md:max-w-[768px] lg:max-w-[1024px];
  }
}