@layer base{

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ol,li,ul{
    list-style: none;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  button{
    cursor: pointer;
    outline: none;
    border:none
  }
}